{% extends 'admin/layout.html.twig' %}
{% block content %}
    <div class="row">
        <div class="col-lg-12 text-center">
            {% if action =='add' %}
                <h1 class="mt-5">Add a new user</h1>
                <p class="lead">You can add a new user here</p>
            {% elseif action == 'edit' %}
                <h1 class="mt-5">Edit the user</h1>
                <p class="lead">You can edit the user here</p>
            {% endif %}
        </div>
    </div>

    {{ form_start(form) }}
    {{ form_widget(form) }}
    {{ form_end(form) }}
{% endblock content %}

